<!DOCTYPE html>
<html>
  <head>
    <title>Redux real-world example</title>
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = <%- reduxState %>;
    </script>
    <div id="root"><%- html %></div>
    <% scriptSrcs.forEach(function(src){ %>
    <script src="<%= src %>"></script>
    <% }) %>
  </body>
</html>

