
h1 {
	color: #130eff;
}

.test-background {
	height: 700px;
	width: 700px;
	background: url(./tile.png) no-repeat;
}

.nav li {
	display: inline-block;
	margin-left: 15px;
}

.nav li:first-child {
	margin-left: 0;
}

.main-content {
	margin-left: 30px;
}

.main-content h1 {
	color: #70ff78
}

.version {
	color: #527655;
}